/* GLOBAL ADJUSTMENTS */

body{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  width: 960px;
}

/* TOP NAV */

.top-nav{
  align-items: center;
  background-color:Cadetblue;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.top-logo{
  align-items: center;
  color: white;
  display: flex;
  font-size: 1rem;
}

.top-logo img{
  display: flex;
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
}

.top-logo h1{
  display: flex;
  font-size: 1rem;
}

.nav{
  color: white;
  display: flex;
  list-style: none;
  margin: 1rem 2rem 1rem 0;
}

.nav-products{
  margin: 0 2rem;
}

.menu{
  color: white;
  font-size: 1rem;
  margin-right: 2rem;
  display: none;
}

/* MAIN BANNER */

.main-banner{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.headline{
  margin-top: 10rem;
  text-align: right;
}

.headline p{
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-right: -2rem;
}

/* SERVICES */

.service-container{
  display: flex;
  height: 8rem;
  margin: 3rem auto;
  justify-content: center;
}

.service-item{
  margin: 0 3rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-wrapper, .txt-wrapper{
  height: 4rem;
  margin: auto 3rem;
  text-align: center;
}

.left-icon{
  width: 3.5rem;
}

.right-icon{
  width: 5rem;
}

/* BUSINESS INFO */

.business-info{
  display: flex;
  justify-content: center;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.right-wrapper{
  margin-left: 5%;
}

.title-wrapper{
  width: 10rem;
}

.title-wrapper p{
  background-color: Cadetblue;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

/* FOOTER */

.footer{
  background-color: azure;
  padding: 4rem 0 4rem 4rem;
  margin-top: 5rem;
}

.bottom-logo{
  display: flex;
  align-items: center;
}
.bottom-logo img{
  height: 1.5rem;
  margin-right: 1rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px){

  .container{
    width: 100%;
  }

  .main-banner{
    padding-top: 0;
  }

  .headline{
    margin-top: 5rem;
  }

  .headline p {
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

}

@media only screen and (max-width: 470px){

  .nav{
    display: none;
  }

  .menu{
    display:block;
  }

  .main-banner{
    background-position: 20%;
    height: 17rem;
  }

  .headline p{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .service-container{
    width: 50%;
    flex-flow: row wrap;

  }

  .txt-wrapper p{
    font-size: 0.77rem;
  }

  .middle-service{
    margin: 1.54rem auto;
  }

  .business-info{
    flex-flow: column;
    margin-top: 20rem;
  }

  .title-wrapper{
    width: 100%;
    text-align: center;
  }

  .description-wrapper{
    font-size: 0.77rem;
    margin: 1rem 0 4rem 0;
  }

  .section-wrapper{
    width: 100%;
  }

  .right-wrapper{
    margin-left: 0;
  }

  .footer{
    width: 100%;
  }

  .bottom-logo p{
    display: none;
  }


}
