/* GLOBAL ADJUSTMENTS */


body{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  width: 960px;
}

/* TOP NAV */

.top-nav{
  align-items: center;
  background-color:Cadetblue;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.top-logo{
  align-items: center;
  color: white;
  display: flex;
  font-size: 1rem;
}

.top-logo img{
  display: flex;
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
}

.top-logo h1{
  display: flex;
  font-size: 1rem;
}

.nav{
  color: white;
  display: flex;
  list-style: none;
  margin: 1rem 2rem 1rem 0;
}

.nav-products{
  margin: 0 2rem;
}

/* MAIN BANNER */

.main-banner{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}


.headline{
  margin-top: 10rem;
  text-align: right;
}

.headline p{
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-right: -2rem;
}

/* SERVICES */

.services{
  display: flex;
  height: 8rem;
  margin: 3rem auto;
  justify-content: center;
}

.services span{
  display: inline-flex;
  justify-content: center;
}

.eyes span{
  display: flex;
}

.fittings span{
  display: flex;
}

.eyes{
  display: flex;
  flex-direction: column;
  width: 7.1rem;
}

.fittings{
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  width: 9.1rem;
}

.delivery{
  display: flex;
  flex-direction: column;
  width: 10.3rem;
}
